<!doctype html>
<html>
  <head>
    <title>Ecommerce Store</title>

    <link rel="stylesheet" href="/style.css" />
  </head>

  <body>
    <nav>
      <a href="/">Home</a>
      <a href="/products">Products</a>
      <a href="/add-product">Add Product</a>
      <a href="/login">Login</a>
      <a href="/signup">Signup</a>
    </nav>

    <div class="container">
      <h1>Welcome To Ecommerce Store</h1>

      <p>Buy the best products at affordable prices.</p>

      <a href="/products">
        <button>Shop Now</button>
      </a>

      <br /><br />

      <!-- product 1 -->
      <div class="product-card">
        <h2>Laptop</h2>
        <img
        src="https://images.unsplash.com/photo-1496181133206-80ce9b88a853"
        width="250"/>
        <p>High quality laptop for office work.</p>
      </div>

      <!-- product 2 -->
      <br />


      <div class="product-card">
        <h2>Mobile Phone</h2>
        <img
          src="https://images.unsplash.com/photo-1511707171634-5f897ff02aa9"
          width="250"/>
        <p>Latest smartphone available now.</p>
      </div>

      <br />
      <!-- product 3 -->
       <br>

<div class="product-card">
  <h2>Watch</h2>
  <img 
    src="https://images.unsplash.com/photo-1523275335684-37898b6baf30"
    width="250" >
  <p>Stylish watch for everyday use.</p>

</div>


    


    </div>
  </body>
</html>
