
<!DOCTYPE html>
<html>

<head>
  <title>Signup</title>
  <link rel="stylesheet" href="/style.css">
</head>

<body>

  <nav>
    <a href="/">Home</a>
    <a href="/products">Products</a>
    <a href="/add-product">Add Product</a>
    <a href="/login">Login</a>
    <a href="/signup">Signup</a>
  </nav>

  <div class="container">

    <h1>Create Account</h1>

    <div class="product-card">

      <form>

        <input 
          type="text" 
          placeholder="Full Name"
        >

        <br><br>

        <input 
          type="email" 
          placeholder="Email"
        >

        <br><br>

        <input 
          type="password" 
          placeholder="Password"
        >

        <br><br>

        <button>
          Signup
        </button>

      </form>

    </div>

  </div>

</body>

</html>